pip==20.2.4
bumpversion==0.5.3
wheel==0.35.1
flake8==3.8.4
watchdog==0.9.0
tox==3.20.1
Sphinx==3.3.1
coverage==5.3
cryptography==3.2.1
PyYAML==5.1.2
pytest==6.1.2
pytest-mock==3.3.1
pytest-runner==5.1
six==1.12.0
